h1 {color: red;
  font-size: 20px;}

img:hover {background-color: gold;}

/*******Class Selectors************/
.bacon {
  background-color: green;
}
.broccoli {
  background-color: red;
}

/************ID selectors**********/
#heading {
  color: blue;
}
