body {
  margin: 0px;
  text-align: center;
}

/*div {
  background-color: #D4ECDD;
}
*/
h1 {
  margin-top: 0;
  

}
.top-container {
  background-color: #D4ECDD;
  position: relative;
  padding-top: 100px;

}
.middle-container {

}
.bottom-container {

}
.bottom-cloud {
  position: absolute;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
